# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pypy/

# Ambientes Virtuais locais
venv/
.venv/
env/
ENV/

# Arquivos de Configuração Locais e Segredos
.env
*.local
config/secrets.yaml

# IDEs e Editores de Código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs do sistema
*.log
logs/

# Docker / build
*.tar
*.image
dist/
build/
node_modules/
.next/
out/

# Sistema
.DS_Store
Thumbs.db
